* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Varela Round', sans-serif;
}

#root {
    display: flex;
    width: 100%;
    height: 100vh;
}

/* WRAPPER */
#wrapper {
    margin: auto;
    font-size: 30px;
}

#wrapper input {
    width: 300px;
    padding: 10px;
}

#wrapper ul {
    list-style: none;
}
#wrapper li {
    margin: 20px 0;
}