/* COMMONS */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Varela Round', sans-serif;
}

#root {
    display: flex;
    width: 100%;
    height: 100vh;
}

/* WRAPPER */
#wrapper {
    margin: auto;
    font-size: 30px;
}

#wrapper input {
    width: 400px;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 30px;
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
}
#wrapper button {
    padding: 10px;
    border-radius: 3px;
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
}

#wrapper ul {
    list-style: none;
}
#wrapper li {
    padding: 20px 0;
}
#wrapper li:not(:last-child) {
    border-bottom: 2px solid #000000;
}

#wrapper i {
    cursor: pointer;
}